@import 'normalize.css/normalize.css';
@import './fonts/arial.scss';
@import './fonts/georgia.scss';
@import './variables/colors.scss';
@import './variables/sizes.scss';
@import './mixins/backgrounds.scss';
@import './mixins/fonts.scss';
@import './mixins/icons.scss';
@import './mixins/images.scss';

html {
  font-size: 62.5%;
}

body {
  @include background-default;
  @include font-georgia;

  color: var(--color-dark-3xl);
  font-size: 2rem;
}

h1,
h2,
h3,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
