@import '../styles/main.scss';

h1 {
  @include font-georgia;

  color: var(--color-primary);
  font-style: normal;
  font-size: 3.2rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
}

h2 {
  @include font-georgia;

  color: var(--color-light-xl);
  font-style: normal;
  font-size: 4.4rem;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

h3 {
  @include font-georgia;

  color: var(--color-dark-l);
  font-style: normal;
  font-size: 3.5rem;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.link-wrapper {
  text-decoration: none;
}

.button {
  @include background-transparent;

  border-radius: 10rem;
  border: 0.2rem solid;
  border-color: var(--color-primary);
  color: var(--color-dark-3xl);
  cursor: pointer;
  font-size: 1.7rem;
  line-height: 1.3;
  letter-spacing: 0.06em;
  padding: 1.3rem 4.3rem;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;

  &_active {
    @include background-primary;
  }

  &_inactive {
    border-color: var(--color-dark-s);
    color: var(--color-dark-s);
    cursor: auto;
  }
}

.container {
  &__content {
    box-sizing: border-box;
    min-height: inherit;
    margin: 0 auto;
    max-width: 120rem;
    padding: 8rem 0 10rem;

    &_no-padding {
      padding: 0 !important;
    }

    .heading {
      margin-bottom: 1rem;
    }

    .text {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .header {
      display: grid;
      grid-template-columns: auto 1fr;
      min-height: 12rem;

      .logo {
        display: flex;
        align-items: center;

        &__link {
          display: flex;
          align-items: center;
          flex-flow: column;
          justify-content: center;

          .title {
            margin-bottom: 1.1rem;
          }

          .subtitle {
            @include font-arial;

            color: var(--color-light-xl);
            font-size: 1.3rem;
            letter-spacing: 0.1em;
            line-height: 1.15rem;
          }
        }
      }

      .navigation-menu {
        display: flex;
        align-items: center;
        justify-content: end;

        &__link-list {
          display: flex;

          .link {
            @include font-arial;

            font-size: 1.5rem;
            line-height: 160%;
            margin-right: 3.7rem;

            &:last-child {
              margin-right: 0;
            }

            &_active {
              border-bottom: 0.3rem solid;
              border-color: var(--color-primary);
            }

            a {
              color: var(--color-dark-s);
              text-decoration: none;
              transition: color 0.3s;

              &:hover {
                color: var(--color-light-xl);
              }

              &.active {
                color: var(--color-light-xl);
              }
            }
          }

          @media (max-width: $size-small-screen-media-breakpoint-max-width) {
            display: none;
          }
        }

        .burger-menu-button {
          background: none;
          border: none;
          cursor: pointer;
          display: none;
          justify-content: space-around;
          height: 3rem;
          padding: 0;
          width: 3rem;
          transform: rotate(180deg);
          transition: transform 0.3s;

          &:not([opened]) {
            transform: rotate(90deg);
          }

          &__strip {
            @include icon-line;

            background-color: var(--color-dark-3xl);
          }

          @media (max-width: $size-small-screen-media-breakpoint-max-width) {
            display: flex;
          }
        }

        .burger-menu {
          display: none;
          transition: height 0.2s ease-in;
          z-index: 30;
        }

        @media (max-width: $size-small-screen-media-breakpoint-max-width) {
          justify-content: center;

          .burger-menu {
            @include background-dark-3xl;

            align-items: center;
            display: flex;
            justify-content: center;
            height: calc(100vh - 12rem);
            position: absolute;
            left: calc(50% - 16rem);
            top: 12rem;
            width: 32rem;

            &:not([opened]) {
              height: 0;

              * {
                display: none;
              }
            }

            &__link-list {
              display: flex;
              flex-flow: column;
              margin-bottom: 12rem;
              text-align: center;

              .link {
                @include font-arial;

                font-size: 3.2rem;
                justify-content: center;
                line-height: 160%;
                margin: 0 auto 4rem;

                &:last-child {
                  margin-bottom: 0;
                }

                &_active {
                  border-bottom: 0.3rem solid;
                  border-color: var(--color-primary);
                }

                a {
                  color: var(--color-dark-s);
                  text-decoration: none;
                  transition: color 0.3s;

                  &:hover {
                    color: var(--color-light-xl);
                  }

                  &.active {
                    color: var(--color-light-xl);
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width: $size-small-screen-media-breakpoint-max-width) {
        margin: 0;
        padding: 0 1rem;

        &[opened] {
          position: relative;
          z-index: 30;
        }

        &:not([opened]) {
          transition-delay: 0.2s;
          transition-property: background-color;
        }
      }
    }

    .pet-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 3rem 4rem;

      &__item {
        margin: 0 auto;

        .pet-card {
          @include background-light-s;

          border-radius: 0.9rem;
          color: var(--color-dark-l);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-flow: column;
          padding-bottom: 3rem;
          overflow: hidden;
          width: 27rem;

          &:hover {
            @include background-light-xl;

            .pet-card__button {
              @include background-primary-light;

              border-color: var(--color-primary-light);
            }
          }

          &__photo {
            height: 27rem;
            margin-bottom: 3rem;
            width: 27rem;
          }

          &__name {
            font-size: 2rem;
            line-height: 1.15;
            letter-spacing: 0.06em;
            margin-bottom: 3rem;
          }

          &__button {
            background-color: var(--color-light-s);
          }
        }
      }
    }

    @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
      max-width: 70.8rem;
      padding-bottom: 7.5rem;
    }

    @media (max-width: $size-small-screen-media-breakpoint-max-width) {
      max-width: 32rem;
      padding-bottom: 4.5rem;
      padding-top: 4.25rem;
    }
  }
}

.footer {
  @include background-noise-gradient;

  min-height: 35rem;

  .container {
    &__content {
      display: flex;
      align-items: end;
      justify-content: space-between;

      .content {
        display: flex;

        .info {
          height: 29.4rem;
          margin-right: 14rem;
          width: 30rem;

          &:last-child {
            margin-right: 0;
          }

          &__title {
            color: var(--color-light-xl);
            margin-bottom: 4rem;

            @media (max-width: $size-small-screen-media-breakpoint-max-width) {
              font-size: 2.5rem;
              text-align: center;
            }
          }

          &__row {
            color: var(--color-primary);
            display: grid;
            grid-template-columns: auto 1fr;
            margin-bottom: 4rem;

            .icon {
              margin: auto;
              margin-right: 2rem;
            }

            .text {
              @include font-georgia;

              font-size: 2rem;
              line-height: 1.15;
              letter-spacing: 0.06em;
              margin: auto 0;
            }

            &.phone {
              .icon {
                @media (max-width: $size-small-screen-media-breakpoint-max-width) {
                  margin-left: 0.4rem;
                }
              }
            }
          }

          @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
            height: auto;
            margin-right: 4rem;
          }

          @media (max-width: $size-small-screen-media-breakpoint-max-width) {
            margin: 0 auto;
            width: 25rem;

            &:last-child {
              margin: 0 auto;
              width: 30rem;

              .info__title {
                margin-left: 3rem;
                margin-right: 3rem;
              }
            }
          }
        }

        .contacts {
          .email {
            .icon {
              @include icon-email;
            }
          }

          .phone {
            .icon {
              @include icon-phone;
            }
          }
        }

        .locations {
          .info {
            &__title {
              margin-bottom: 3.2rem;

              @media (max-width: $size-small-screen-media-breakpoint-max-width) {
                margin-bottom: 3.8rem;
              }
            }

            &__row {
              margin-bottom: 3.2rem;

              &.address {
                .icon {
                  @include icon-marker;
                }
              }

              @media (max-width: $size-small-screen-media-breakpoint-max-width) {
                margin-bottom: 4rem;
              }
            }
          }
        }

        @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
          justify-content: space-between;
          margin: 0 3.5rem 2.5rem;
          padding-top: 3rem;
        }

        @media (max-width: $size-small-screen-media-breakpoint-max-width) {
          flex-wrap: wrap;
          margin: 0 auto;
          padding-top: 3rem;

          &:last-child {
            margin: 0 auto;
          }
        }
      }

      .image {
        @include image-footer-puppy;

        @media (max-width: $size-small-screen-media-breakpoint-max-width) {
          background-size: 259px;
          height: 268px;
          width: 262px;
        }
      }

      @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.burger-menu-overlay {
  background: var(--color-dark-3xl-opacity);
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;

  &__left {
    right: calc(50% + 16rem);
  }

  &__right {
    left: calc(50% + 16rem);
  }

  @media (max-width: $size-small-screen-media-breakpoint-max-width) {
    display: block;
  }
}

.popup-container {
  align-items: center;
  background: var(--color-dark-3xl-opacity);
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;

  &:hover {
    cursor: pointer;

    .close-button {
      @include background-primary;
    }
  }

  .popup {
    @include background-light-xl;

    border-radius: 0.9rem;
    height: 50rem;
    width: 90rem;
    overflow: auto;

    &:hover {
      cursor: auto;

      .close-button {
        @include background-transparent;
      }
    }

    .pet-card {
      display: flex;
      height: 100%;

      &__photo {
        display: flex;
        width: 50rem;

        img {
          width: 100%;
        }

        @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
          width: 35rem;
        }

        @media (max-width: $size-small-screen-media-breakpoint-max-width) {
          display: none;
        }
      }

      &__info {
        color: var(--color-dark-3xl);
        flex: 1;
        padding: 5rem 2rem 0 3rem;

        .title {
          color: var(--color-dark-3xl);
          margin: 0 0 1rem;

          @media (max-width: $size-small-screen-media-breakpoint-max-width) {
            text-align: center;
          }
        }

        .subtitle {
          font-size: 2rem;
          letter-spacing: 0.06em;
          margin-bottom: 4rem;

          @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
            margin-bottom: 2rem;
          }

          @media (max-width: $size-small-screen-media-breakpoint-max-width) {
            text-align: center;
          }
        }

        .description {
          font-size: 1.7rem;
          line-height: 1;
          margin-bottom: 4rem;

          @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
            font-size: 1.3rem;
            line-height: 110%;
            letter-spacing: 0.06em;
            margin-bottom: 1.7rem;
          }

          @media (max-width: $size-small-screen-media-breakpoint-max-width) {
            margin-bottom: 2rem;
            text-align: justify;
          }
        }

        .list {
          font-size: 1.7rem;

          &__item {
            margin-bottom: 0.8rem;

            &::before {
              content: '\2022';
              color: var(--color-primary);
              margin-right: 0.2rem;

              @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
                margin-right: 0.35rem;
              }

              @media (max-width: $size-small-screen-media-breakpoint-max-width) {
                margin-right: 0.35rem;
              }
            }

            @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
              margin-bottom: 0.4rem;
            }

            @media (max-width: $size-small-screen-media-breakpoint-max-width) {
              margin-bottom: 0.4rem;
            }
          }
        }

        @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
          padding: 1rem 0.5rem 0 1rem;
        }

        @media (max-width: $size-small-screen-media-breakpoint-max-width) {
          padding: 1rem 1rem 0;
        }
      }
    }

    .close-button {
      @include icon-cross;

      padding: 2.4rem;
      position: absolute;
      left: calc(50% + 44rem);
      top: calc(50% - 30.2rem);

      &:hover {
        @include background-primary;
      }

      @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
        left: calc(50% + 30.6rem);
        top: calc(50% - 22.7rem);
      }

      @media (max-width: $size-small-screen-media-breakpoint-max-width) {
        left: calc(50% + 9.8rem);
        top: calc(50% - 22.2rem);
      }
    }

    @media (max-width: $size-middle-screen-media-breakpoint-max-width) {
      height: 35rem;
      width: 63rem;
    }

    @media (max-width: $size-small-screen-media-breakpoint-max-width) {
      height: 34rem;
      width: 24rem;
    }
  }
}

.hide-scrollbar-y-popup {
  overflow-y: hidden;
}

@media (max-width: $size-small-screen-media-breakpoint-max-width) {
  .hide-scrollbar-y-burger-menu {
    overflow-y: hidden;
  }
}
