@mixin background-default {
  background-color: var(--color-dark-3xl);
}

@mixin background-transparent {
  background-color: transparent;
}

@mixin background-noise-gradient {
  background: url(../../assets/images/background/noise-transparent.png), radial-gradient(100% 215.42% at 0 0, #5b483a 0, #262425 100%) #211f20;
}

@mixin background-dark-3xl {
  background-color: var(--color-dark-3xl);
}

@mixin background-light-s {
  background-color: var(--color-light-s);
}

@mixin background-light-l {
  background-color: var(--color-light-l);
}

@mixin background-light-xl {
  background-color: var(--color-light-xl);
}

@mixin background-primary {
  background-color: var(--color-primary);
}

@mixin background-primary-light {
  background-color: var(--color-primary-light);
}
