@mixin icon-arrow-left {
  background-image: url(../../assets/images/background/icons/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 6px;
  width: 14px;
}

@mixin icon-arrow-right {
  background-image: url(../../assets/images/background/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 6px;
  width: 14px;
}

@mixin icon-cross {
  background-image: url(../../assets/images/background/icons/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 12px;
  width: 12px;
}

@mixin icon-line {
  background-image: url(../../assets/images/background/icons/line.svg);
  height: 30px;
  width: 2px;
}

@mixin icon-bowls-and-cups {
  background-image: url(../../assets/images/background/icons/icon-bowls-and-cups.svg);
  height: 60px;
  width: 60px;
}

@mixin icon-collars-leashes {
  background-image: url(../../assets/images/background/icons/icon-collars-leashes.svg);
  height: 60px;
  width: 60px;
}

@mixin icon-credit-card {
  background-image: url(../../assets/images/background/icons/icon-credit-card.svg);
  height: 23px;
  width: 30px;
}

@mixin icon-email {
  background-image: url(../../assets/images/background/icons/icon-email.svg);
  height: 32px;
  width: 40px;
}

@mixin icon-marker {
  background-image: url(../../assets/images/background/icons/icon-marker.svg);
  height: 32px;
  width: 22px;
}

@mixin icon-medicines {
  background-image: url(../../assets/images/background/icons/icon-medicines.svg);
  height: 60px;
  width: 60px;
}

@mixin icon-pet-food {
  background-image: url(../../assets/images/background/icons/icon-pet-food.svg);
  height: 60px;
  width: 60px;
}

@mixin icon-phone {
  background-image: url(../../assets/images/background/icons/icon-phone.svg);
  height: 32px;
  width: 40px;
}

@mixin icon-shampoos {
  background-image: url(../../assets/images/background/icons/icon-shampoos.svg);
  height: 60px;
  width: 60px;
}

@mixin icon-sleeping-areas {
  background-image: url(../../assets/images/background/icons/icon-sleeping-areas.svg);
  height: 60px;
  width: 60px;
}

@mixin icon-toys {
  background-image: url(../../assets/images/background/icons/icon-toys.svg);
  height: 60px;
  width: 60px;
}

@mixin icon-transportation {
  background-image: url(../../assets/images/background/icons/icon-transportation.svg);
  height: 60px;
  width: 61px;
}

@mixin icon-vitamins {
  background-image: url(../../assets/images/background/icons/icon-vitamins.svg);
  height: 60px;
  width: 60px;
}
