@mixin image-about-pets {
  background-image: url(../../assets/images/background/about-pets.png);
  height: 408px;
  width: 300px;
}

@mixin image-donation-dog {
  background-image: url(../../assets/images/background/donation-dog.png);
  height: 261px;
  width: 505px;
}

@mixin image-start-screen-puppy {
  background-image: url(../../assets/images/background/start-screen-puppy.png);
  height: 728px;
  width: 698px;
}

@mixin image-footer-puppy {
  background-image: url(../../assets/images/background/footer-puppy.png);
  height: 310px;
  width: 300px;
}
